body {
    background-color: var(--background-color-main);
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: var(--text-color);
}
::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
}
::-webkit-scrollbar-track {
    background: var(--box-shadow-element);
}
